@import "~styles/var";

.porting {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__price {
    font-weight: 700;
    font-size: 30px;
    color: $third-color;
  }
}