@import "~styles/var";

.order-page {
  width: 100%;
  text-align: center;
}

.order-title {
  @include text-base;
  margin-top: 5%;
  font-weight: 800;
  font-size: 48px;
}

.order-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  div {
    @include round-frame;
    padding: 45px 85px;
  }
}