@import "../../assets/styles/var";

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > *:nth-child(2) {
    flex-grow: 1;
    min-height: 100%;
    padding-top: $header-height;
  }
}

header {
  @include indent-wrapper;
  height: $header-height;
  width: 100%;
  position: absolute;
  top: 0px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  line-height: $header-height;

  > div:not(:first-child):not(:last-child) {
    flex-grow: 1;
  }
}

.header {
  &-location {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__select-text {
      @include text-color;
      font: {
        weight: bold;
        size: 14px;
      }
      margin-right: 16px;
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include text-base;
    font: {
      weight: 400;
      size: 14px;
    }

    > div {
      padding: 0px 9px;
    }
  }
}


