@import "~styles/var";

$size: 20px;

input[type=radio] {
  display: none;
}

input[type=radio] + .radio-button {
  display: block;
  position: relative;
  width: $size;
  height: $size;
  border: 1px solid $fourth-color;
  border-radius: 50%;
  background: $primary-color;
}

input[type=radio] + .radio-button:before {
  content: '';
  position: absolute;
  opacity: 0;
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $secondary-color;
  transition: all 0.2s ease;
}

input[type=radio]:checked + .radio-button:before {
  opacity: 1;
}
