@import "~styles/var";

.smartphones-toggles {
  margin-top: 50px;
  margin-left: 38vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-weight: 700;

  &__label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    margin-left: 16px;
  }

  .button {
    margin-top: 30px;
    width: 30vw;
  }
}