@import "~styles/var";

.main-page {
  @include indent-wrapper;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url('~image/main_background.svg');
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  &__links {
    flex-grow: 1;
    @include text-color;
    font-weight: 800;
    font-size: 21px;
    margin-top: 34px;
    margin-left: 66px;
  }

  &__order {
    width: 983px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.devices {
  list-style-type: none;
}

.order {
  &-text {
    width: 548px;
    margin-top: 81px;
    color: $primary-color;
    font-weight: 800;
    font-size: 55px;
    text-align: right;
  }
}