@import "~styles/var";

$background-width: 983px;

.main-page {
  @include indent-wrapper;

  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
  }

  &__content {
    width: 100%;
    flex-grow: 1;
    display: flex;

    @media screen and (min-width: $screen-width) {
      flex-direction: row;
      flex-wrap: wrap-reverse;
    }

    @media screen and (max-width: $screen-width) {
      flex-direction: column-reverse;
    }
  }

  &__links {
    flex-grow: 1;
    @include text-color;
    font-weight: 800;
    font-size: 21px;
    margin-top: 34px;
    margin-left: 66px;
  }

  &__order {
    @media screen and (min-width: $screen-width) {
      max-width: 983px;
    }

    @media screen and (max-width: $screen-width) {
      height: 500px;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.devices, .services {
  list-style-type: none;
  width: fit-content;
}

.services {
  margin-top: 64px;

  li:not(:first-child) {
    margin-top: 19px;
  }
}

.services a {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  color: #E01A79;
  padding: 0 12px;

  &:hover {
    color: $third-color;
  }
}

.order {
  &-text {
    max-width: 548px;
    margin-top: 81px;
    margin-bottom: 46px;
    color: $primary-color;
    font-weight: 800;
    font-size: 55px;
    text-align: right;
  }

  &-button {
    width: 235px;
  }
}