@import "~styles/var";

.tariff {
  margin-top: 120px;


  &__main-text {
    margin-left: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}