  @import "~styles/var";

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include text-base;
    font: {
      weight: 400;
      size: 14px;
    }

    > a {
      padding: 0px 9px;
      text-decoration: none;
      @include text-base;

      &:hover {
        @include text-color;
      }
    }
  }