  @import "~styles/var";

  .navigation {
    flex-grow: 1;

    @media screen and (max-width: $screen-width) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
    }

    &-link {
      display: flex;

      @media screen and (max-width: $screen-width) {
        display: none;
      }

      flex-direction: row;
      justify-content: center;
      @include text-base;
      font: {
        weight: 400;
        size: 0.9em;
      }

      > a {
        padding: 0px 9px;
        text-decoration: none;
        @include text-base;

        &:hover {
          @include text-color;
        }
      }
    }

    &-link__hidden {
      display: none;
    }

    .sandwich-icon {
      @media screen and (min-width: $screen-width) {
        display: none;
      }
    }
  }