@import "~styles/var";

.location {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .custom-selector__select{
    @include text-color;
    font: {
      weight: bold;
    }
    width: 200px;
  }
}