@import "~styles/var";

$background1: url("~image/background-cloud-1.svg");
$background2: url("~image/background-cloud-2.svg");
$background3: url("~image/background-cloud-3.svg");
$background4: url("~image/background-cloud-4.svg");

.cloud-link {
  background-image: none;

  a {
    text-decoration: none;
    @include text-base;
    font-weight: 800;

    @media screen and (orientation: landscape) {
      font-size: 2.4em;
    }

    @media screen and (orientation: portrait) {
      font-size: 1.9em;
    }

    padding: 0 12px;
  }

  &_length-7 {
    &:hover, &:active {
      background: $background1 no-repeat;
      background-size: auto 100%;
    }
  }

  &_length-8 {
    &:hover, &:active {
      background: $background2 no-repeat;
      background-size: auto 100%;
    }
  }

  &_length-9 {
    &:hover, &:active {
      background: $background3 no-repeat;
      background-size: auto 100%;
    }
  }

  &_length-10{
    &:hover, &:active {
      background: $background4 no-repeat;
      background-size: auto 100%;
    }
  }

  &:hover a, &:active a{
    color: $primary-color;
  }
}