@import "~styles/var";

$background1: url("~image/background-cloud-1.svg");
$background2: url("~image/background-cloud-2.svg");
$background3: url("~image/background-cloud-3.svg");
$background4: url("~image/background-cloud-4.svg");

.cloud-link {
  background-image: none;

  a {
    text-decoration: none;
    @include text-base;
    font-weight: 800;
    font-size: 50px;
    padding: 0 12px;
  }

  &_length-7:hover {
    background: $background1 no-repeat;
  }

  &_length-8:hover {
    background: $background2 no-repeat;
  }

  &_length-9:hover {
    background: $background3 no-repeat;
  }

  &_length-10:hover {
    background: $background4 no-repeat;
  }

  &:hover a{
    color: $primary-color;
  }
}