@import "~styles/var";

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > *:nth-child(2) {
    flex-grow: 1;
    min-height: 100%;
    padding-top: $header-height;
  }
}


