@import "~styles/var";

.layout-wrapper {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;

  & > *:nth-child(2) {
    flex-grow: 1;
    height: 100%;
  }
}

.layout__spot {
  background-repeat: no-repeat;
  background-position-y: top;

  @media screen and (orientation: landscape) {
    background-image: url('~image/main_background.svg');
    background-position-x: right;
  }

  @media screen and (orientation: portrait) {
    background-image: url('~image/main_background_mobile.svg');
    background-size: 100%;
  }

}


