$primary-color: #ffffff;
$secondary-color: #E01A79;
$third-color: #454C5C;

$header-height: 56px;


@mixin svg-base {
  fill: $third-color;
}

@mixin text-color {
  color: $secondary-color;
}

@mixin text-base {
  color: $third-color
}

@mixin indent-wrapper {
  padding: 0px 32px;
}
