$primary-color: #ffffff;
$secondary-color: #E01A79;
$third-color: #454C5C;
$fourth-color: #BEBFC0;
$input-background: #F9F8F8;

$header-height: 56px;

$screen-width: 1200px;


@mixin svg-base {
  fill: $third-color;
}

@mixin text-color {
  color: $secondary-color;
}

@mixin text-base {
  color: $third-color
}

@mixin text-light {
  color: $fourth-color
}

@mixin indent-wrapper {
  padding: 0px 32px;
}

@mixin round-frame {
  border: 1px solid $third-color;
  border-radius: 32px;
  width: 35%;
  min-width: 556px;
}
