@import "~styles/var";

footer {
  @include indent-wrapper;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  @include text-light;

  display: flex;
  flex-direction: row;

  .copyright {
    flex-grow: 1;
  }

  .social-links {
    display: flex;
    flex-direction: row;
  }
}