@import "~styles/var";

.order-settings {
  padding: 35px 85px;
  display: flex;
  flex-direction: column;
  row-gap: 46px;

  &-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
}