@import "~styles/var";

$offset: 170px;

.smartphones {
  max-width: 100vw;
  overflow: hidden;

  &__header {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $third-color;

    > :first-child {
      font-size: 4.5em;
      font-weight: 800;
    }

    > .symbol {
      position: absolute;
    }

    > :not(.symbol) {
      margin-left: $offset;
    }
  }

  h2 {
    margin-top: 30px;
    font-weight: 800;
    font-size: 3em;
    color: $third-color;
    text-align: center;
  }
}